code pre span[class^="code-"]:hover {
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .code-comment {
        color: #6A9955;
    }

    .code-operator,
    .code-punctuation {
        color: #FFF;
    }

    .code-noisy-whitespace {
        color: #FFF1;
    }

    .code-parameter,
    .code-variable,
    .code-attribute,
    .code-property {
        color: #9CDCFE;
    }

    .code-const,
    .code-enum-member,
    .code-readonly {
        color: #4FC1FF;
    }

    .code-number,
    .code-symbol {
        color: #B5CEA8;
    }

    .code-type,
    .code-generic,
    .code-class,
    .code-interface,
    .code-enum,
    .code-record,
    .code-decorator {
        color: #4EC9B0;
    }

    .code-string {
        color: #CE9178;
    }

    .code-regexp {
        color: #D16869;
    }

    .code-function,
    .code-method {
        color: #DCDCAA;
    }

    .code-doctag,
    .code-keyword,
    .code-literal {
        color: #569CD6;
    }

    .code-control-flow {
        color: #C586C0;
    }

    .code-comment:hover {
        background-color: #6A995540;
    }

    .code-operator:hover,
    .code-punctuation:hover {
        background-color: #FFFFFF40;
    }

    .code-noisy-whitespace:hover {
        background-color: #FFFFFF08;
    }

    .code-parameter:hover,
    .code-variable:hover,
    .code-attribute:hover,
    .code-property:hover {
        background-color: #9CDCFE40;
    }

    .code-const:hover,
    .code-enum-member:hover,
    .code-readonly:hover {
        background-color: #4FC1FF40;
    }

    .code-number:hover,
    .code-symbol:hover {
        background-color: #B5CEA840;
    }

    .code-type:hover,
    .code-generic:hover,
    .code-class:hover,
    .code-interface:hover,
    .code-enum:hover,
    .code-record:hover,
    .code-decorator:hover {
        background-color: #4EC9B040;
    }

    .code-string:hover {
        background-color: #CE917840;
    }

    .code-regexp:hover {
        background-color: #D1686940;
    }

    .code-function:hover,
    .code-method:hover {
        background-color: #DCDCAA40;
    }

    .code-doctag:hover,
    .code-keyword:hover,
    .code-literal:hover {
        background-color: #569CD640;
    }

    .code-control-flow:hover {
        background-color: #C586C040;
    }
}

@media (prefers-color-scheme: light) {
    .code-comment {
        color: #008400;
    }

    .code-operator,
    .code-punctuation {
        color: #000000;
    }

    .code-noisy-whitespace {
        color: #00000020;
    }

    .code-paramater,
    .code-variable,
    .code-attribute,
    .code-property {
        color: #000F80;
    }

    .code-const,
    .code-enum-member,
    .code-readonly {
        color: #0071C1;
    }

    .code-number,
    .code-symbol {
        color: #098658;
    }

    .code-type,
    .code-generic,
    .code-class,
    .code-interface,
    .code-enum,
    .code-record,
    .code-decorator {
        color: #267F99;
    }

    .code-string {
        color: #A31515;
    }

    .code-regexp {
        color: #8B153E;
    }

    .code-function,
    .code-method {
        color: #795d26;
    }

    .code-doctag,
    .code-keyword,
    .code-literal {
        color: #00F;
    }

    .code-control-flow {
        color: #AF00DB;
    }

    .code-comment:hover {
        background-color: #00840040;
    }

    .code-operator:hover,
    .code-punctuation:hover {
        background-color: #00000040;
    }

    .code-noisy-whitespace:hover {
        background-color: #00000010;
    }

    .code-paramater:hover,
    .code-variable:hover,
    .code-attribute:hover,
    .code-property:hover {
        background-color: #000F8040;
    }

    .code-const:hover,
    .code-enum-member:hover,
    .code-readonly:hover {
        background-color: #0071C140;
    }

    .code-number:hover,
    .code-symbol:hover {
        background-color: #09865840;
    }

    .code-type:hover,
    .code-generic:hover,
    .code-class:hover,
    .code-interface:hover,
    .code-enum:hover,
    .code-record:hover,
    .code-decorator:hover {
        background-color: #267F9940;
    }

    .code-string:hover {
        background-color: #A3151540;
    }

    .code-regexp:hover {
        background-color: #8B153E40;
    }

    .code-function:hover,
    .code-method:hover {
        background-color: #795d2640;
    }

    .code-doctag:hover,
    .code-keyword:hover,
    .code-literal:hover {
        background-color: #0000FF40;
    }

    .code-control-flow:hover {
        background-color: #AF00DB40;
    }
}